#root {
  max-width: 1280px;
  margin: 0;
  /* padding: 2rem; */
}

@font-face {
  font-family: Syncrone;
  src: url(./Syncrone-Oblique.ttf);
}

@font-face{
  font-family: Urbanist-Regular;
  src: url(./Urbanist-Regular.ttf)
}


h1, h2{
  font-family: Syncrone;
  margin: 2rem;
}

p, input, select, label {
  font-family: Urbanist-Regular;
}

p{
  font-size:1.2rem;
}

.disconnected-hero{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connected-main{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.header{
  margin: 0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#rental-form-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 5px;
  margin:20px;
  width:100%;
}

.rental-header{
  text-align: center;
}

.rental-form{
  text-align: center;
  display:flex;
  flex-direction: column;
  padding-top:40px;
  margin-right:180px;
}

input, label, select{
  margin: 20px;
  font-size:1.4rem;
}


.nft-img-container{
  width:45%;
}
.nft-img{
  width:100%;
  border-radius: 4px;
}
